.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background-color: black;
    &__image {
        background-image: url('../../public/background.png.jpg');     
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh; 
        width: 100%;   
        position: fixed;
    }
}