.leaguesSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
.leagueContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
      width: 100%;
      color: #fff;
      border-radius: 1.5rem;
    }

.menu {
    width: 100%;
    display: flex;
    justify-content: center;

    button {
        flex: 1;
        padding: 1rem;
        border-radius: 0.75rem 0.75rem 0 0;
        font-weight: bold;
        color: #707070;
        background-color: rgba(0, 0, 0, 0.7);
  
        &.active {
          color: red;
          background-color: blue;
        }
      }
    }
  
.standingsList {
    width: 100%;
      display: flex;
      overflow-x: hidden;
      scroll-behavior: smooth;
      font-size: 0.75rem;  

      .standings {
        flex-shrink: 0;
        width: 100%;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
  
        .tableHeader,
        .tableRow {
          display: flex;
          padding: 0.25rem;
  
          .rank,
          .name,
          .stats,
          .form {
            text-align: center;
          }
  
          .rank {
            width: 8.333%;
          }
  
          .name {
            width: 25%;
          }
  
          .stats {
            width: 50%;
            display: flex;
            justify-content: space-evenly;
          }
  
          .form {
            width: 16.667%;
            display: flex;
            justify-content: center;
  
            .formDot {
              opacity: 0.8;
              width: 0.75rem;
              height: 0.75rem;
              margin: 0.125rem;
              border-radius: 50%;
  
              &.win {
                background-color: #28a745;
              }
  
              &.draw {
                background-color: #6c757d;
              }
  
              &.lose {
                background-color: #dc3545;
              }
            }
          }
        }
  
        .tableRow:nth-child(even) {
          background-color: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }  
  .upcomingMatches {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
    width: 100%;
    color: #f5f5f5;
    border-radius: 1.5rem;
    height: 100%;
  }
  
  .upcomingMatchesHeader {
    padding: 0.5rem;
    font-weight: bold;
  }
  
  .upcomingMatchesContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.25rem;
    overflow: hidden;
  }
  
  